[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
psycopg2-binary = "*"
alembic = "*"
python-dotenv = "*"
pyjwt = "*"
uvicorn = "*"
bcrypt = "*"
python-multipart = "*"
asyncpg = "*"
pydantic = {extras = ["email"], version = "*"}
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
async-asgi-testclient = "*"
ruff = "*"

[dev-packages]
black = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
